@import "tailwindcss";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: { max: '639px'};
    --breakpoint-md: { max: '767px'};
    --breakpoint-lg: { max: '1150px'};
    --breakpoint-xl: { max: '1400px'};
    --breakpoint-xs: { max: '393px'};
}

@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth !important;
}