@import "tailwindcss";

/* @theme {
    --breakpoint-*: initial;
    --breakpoint-sm: { max: '639px'};
    --breakpoint-md: { max: '767px'};
    --breakpoint-lg: { max: '1150px'};
    --breakpoint-xl: { max: '1400px'};
    --breakpoint-xs: { max: '393px'};
} */
@theme {
    --breakpoint-*: initial;
}

@custom-variant xl (@media (max-width: 1400px));
@custom-variant lg (@media (max-width: 1150px));
@custom-variant md (@media (max-width: 767px));
@custom-variant sm (@media (max-width: 639px));
@custom-variant 2xl (@media (max-width: 393px));
@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth !important;
}